<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/circulo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Cambios en el cuerpo</title>
</head>
<body>
    <main>

        <header>
            <div class="header1">
                <img class="logo" src="img/icon-final.svg" alt="logo">
                <h1>Redvindicadas</h1>
            </div>
        </header>

        <nav>
            <ul class="nav-ul">
                <li>Inicio</li>
                <li>Juega y Aprende</li>
                <li>Oportunidades</li>
                <li>Redes de apoyo</li>
                <li>Kit Fem</li>
            </ul>
        </nav>

        <section class="principal">
            <div class="recursos-t">
                <h1>Recursos de Jóvenes</h1>
            </div>
            <div class="botones-t">
                <div class="recursos-b">
                    <i class="fa-solid fa-chalkboard fa-3x"></i>
                    <div class="boton">
                        <button class="
                        boton-espacio">Recursos</button>
                    </div>
                </div>
                <div class="recursos-b">
                    <i class="fa-solid fa-dice fa-3x"></i>
                    <div class="boton">
                        <button class="
                        boton-espacio">Juegos</button>
                    </div>
                </div>
            </div>
            <div class="botones-contenidos">
                <div class="cambios">
                    <img src="img/undraw_positive_attitude_orange.svg" alt="Imagen 1">
                    <p>Cambios</p>
                </div>
                <div class="EIS">
                    <img src="img/undraw_super_thank_you_orange.svg" alt="Imagen 2">
                    <p>EIS</p>
                </div>
                <div class="Prevencion">
                    <img src="img/undraw_in_thought_orange.svg" alt="Imagen 3">
                    <p>Prevención</p>
                </div>
            </div>
        </section>

        <section class="section1">
             <div class="contenido1">
                <h1>Cambios en el cuerpo</h1>
                <h2>¿Qué es la adolescencia?</h2>
                <p>Según lo indicado en la página oficial de Profamilia Colombia, es una etapa de la vida que usualmente inicia entre los 13 y 15 años. En ella, hombres y mujeres experimentan cambios físicos, psicológicos, emocionales y sociales. La adolescencia empieza con la pubertad y termina cuando los cambios se estabilizan alrededor de los 19 años. Es importante mencionar que los cambios no se dan al mismo tiempo en todos los adolescentes: en las niñas empiezan a ser perceptibles entre los 13 y 15 años y en los niños, aproximadamente entre los 13 y 14 años.</p>
                <h2>¿Cúales son los cambios?</h2>
                <p>Los siguientes videos de Planned Parenthood te los cuentan...</p>
                <div class="videos">
                    <div class="caja-gradiente">
                        <h3>Femenino</h3>
                        <p>Video</p>
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Pq-RJ4PoO8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="caja-gradiente">
                        <h3>Masculino</h3>
                        <p>Video</p>
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/J0wMx9dnbKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                    <p>Tambien tenemos los artículos del sitio web de Nosotras Colombia.</p>

                    <div class="caja-gradiente">
                        <h3>Sistema reproductor femenino</h3>
                        <p>Página web</p>
                        <div class="ir">
                            <a href="https://www.nosotrasonline.com.co/entre-nosotras/cuidado-femenino/sistema-reproductor-femenino-todo-lo-que-debes-saber-sobre-tu-cuerpo/" target="_blank"><i class="fa-solid fa-circle-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="caja-gradiente">
                        <h3>Sistema reproductor masculino</h3>
                        <p>Página web</p>
                        <a href="https://www.nosotrasonline.com.co/entre-nosotras/cuidado-femenino/partes-del-cuerpo-del-hombre-que-debes-saber-con-nosotras-colombia/" target="_blank"><i class="fa-solid fa-circle-chevron-right ir"></i></a>
                    </div>
                </div>
            <div class="section1-foot">&nbsp;</div>
        </section>

        <section class="section2">
            <div class="contenido 2">

                <h2>Menstruación</h2>

                <div class="caja-gradiente">
                    <h3>Fases de la menstruación</h3>
                    <p>Página web</p>
                    <a href="https://helloclue.com/es/articulos/ciclo-a-z/el-ciclo-menstrual-mas-que-solo-tu-periodo" target="_blank"><i class="fa-solid fa-circle-chevron-right"></i></a>
                </div>

                <div class="caja-gradiente">
                    <h3>¿Sabes qué pasa durante la menstruación?</h3>
                    <p>Video</p>
                    <a href="https://youtu.be/c1ZFUAMuypI" target="_blank"><i class="fa-solid fa-circle-chevron-right"></i></a>
                </div>

                <div class="caja-gradiente">
                    <h3>El ciclo menstrual</h3>
                    <p>Video</p>
                    <a href="https://www.youtube.com/watch?v=fYXMk6qvRvU" target="_blank"><i class="fa-solid fa-circle-chevron-right"></i></a>
                </div>
            </div>
        </section>

        <footer>
            <div class="foot1">
                <img class="logo" src="img/icon-final.png" alt="logo">
                <h1>Redvindicadas</h1>
                <p>redvindicadas@gmail.com</p>
                </div>
    
            <div class="foot2">
                <h4>Diseño por devs de Kuepa</h4>
                <div class="foot2-list">
                    <p>Daniela Tarazona @</p>
                    <p>Danna Sanchez @</p>
                    <p>Laura Castro @</p>
                    <p>Lizeth Rico @</p>
                    <p>Viviana Murillo @</p>
                </div>
            </div>
    
            <div class="foot3">
                <h4>Tech Power<br>Creando tu futuro</h4>
                <img src="img/descarga-removebg-preview.png">
            </div>
        </footer>
    </main>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</body>
</html>